// Write your custom css/scss here

a.btn.btn-icon svg {
  margin-top: 7px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(255 255 255 / 10%);
}

.email-compose-fields .select2-container--default .select2-selection--multiple,
 .form-control, .select2-container--default .select2-selection--single,
  .select2-container--default .select2-selection--single .select2-search__field,
   .tt-hint, .tt-query, .typeahead, select {
 
  color: #bababa;
  
}

.staff_form_group {
  display: none;
}

.email-head-subject {
  padding: 10px 25px;
  border: 1px solid #262f43;
}
.email-body {
  border: 1px solid #262f43;
}
.shelter-nav{
  border-bottom: 1px solid #262f43;
  margin-bottom: 1rem;
  & a.active {
    color: #fbbc06;
  }
}


